#postBtn {
  position: absolute;
  bottom: 9%;
  right: 8%;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.link {
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
}